body {
  background: linear-gradient(to right, #d7e1ec, #f8f9fa);
  font-family: sans-serif;
  padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
width: 250px;
padding: 5px;
box-sizing: border-box;}


input[type="radio"] {
  width: auto;}
.radio-group {
  display: flex;
  gap: 10px;
align-items: center;}

.radio-group label {
  display: flex;
 align-items: center;
  gap: 5px;}
.checkbox-group {
 display: flex;
gap: 10px;
align-items: center;}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px;}
